@import url('https://fonts.googleapis.com/css2?family=Chango&family=Cinzel+Decorative:wght@700&family=Orbitron&family=Raleway&family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Cinzel+Decorative:wght@700;900&family=Orbitron&family=Raleway&family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap');

.container {
  background-image: url('../images/bussula.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.form {
  background-color: rgba(139, 80, 8, 0.814);
  width: 64%;
  height: 75%;
  position: absolute;
  left: 22%;
  top: 15%;
  border-radius: 50px;
}
.page-button {
  background-color: rgb(165, 134, 42);
  margin-right: 9px;
  border: none;
  color: white;
  height: 30px;
  font-family: 'Cinzel Decorative';
}
.submit {
  background-color: rgb(165, 134, 42);
  margin-right: 9px;
  border: none;
  color: white;
  height: 30px;
  font-family: 'Cinzel Decorative';
  margin-left: 40%;
  margin-top: 3%;
}
.init {
  background-color: rgb(165, 134, 42);
  margin-right: 9px;
  border: none;
  color: white;
  height: 40px;
  font-family: 'Cinzel Decorative';
  margin-left: 43%;
  border: 1px solid white;
}
.buttons-page {
  margin-left: 34%;
}
.initial {
  text-align: center;
  padding: 10px 20px 0px 10px;
}
h1 {
  text-align: center;
  padding-top: 20px;
  font-family: 'Cinzel Decorative';
  font-weight: bold;
  font-size: 45px;
  color: rgb(120, 21, 21);
  -webkit-text-stroke: 0.6px black;
}
h2 {
  text-align: center;
  /* padding-top: 10px; */
  font-family: 'Cinzel Decorative';
  font-weight: bold;
  font-size: 30px;
  color: rgb(120, 21, 21);
  -webkit-text-stroke: 0.6px black;
}
form {
  align-items: center;
}
p {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 4%;
  font-size: 27px;
  font-family: 'Cinzel Decorative';
  font-weight: 100px;
  /* color: rgb(206, 106, 35);
  -webkit-text-stroke: 0.6px white; */
  color: rgba(181, 155, 26, 0.782);
  /* color: rgb(120, 71, 21); */
    -webkit-text-stroke: 0.6px rgb(255, 166, 0);
}
label {
  text-align: center;
  align-items: center;
  margin-left: 7%;
  padding-left: -2px;
  font-size: 17px;
  font-family: 'Cinzel Decorative';
  font-weight: 100px;
  width: 300px;
  /* color: rgb(206, 106, 35);
  -webkit-text-stroke: 0.6px white; */
  color: rgb(120, 21, 21);
    -webkit-text-stroke: 0.6px black;
}